<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ random }} 
        <br>
        <button id="Cnum" v-for="num in number"
            @click="choice=num"
        >
            {{ num }}
        </button>
        <br>

        {{ asw(random,choice) }}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number:[0,1,2,3,4,5,6,7,8,9],
                random: Math.floor(Math.random() * (10 - 1 + 1)),
                choice:''
            },
            methods : {
                asw : function(ramdom,choice){
                    if (ramdom < choice){
                        return 'มากไป'
                    } else if (ramdom > choice) {
                        return 'น้อยไป'
                    } else {
                        this.random = Math.floor(Math.random() * (10 - 1 + 1))
                        return 'ถูกต้อง'
                    }
                }
            },
        })
    </script>
</body>
</html>